{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}MDCR Grapher{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post" hidden>
    <label for="username">Username</label>
    <input name="username" id="username" required>
    <label for="password">Password</label>
    <input type="password" name="password" id="password" required>
    <input type="submit" value="Register">
  </form>
  <!-- Start Processing -->
  <form>
    <input id="filenameInput"></input>
    <button id="StartProcessing" class="ui secondary button">
      <i class="play icon"></i>Start Processing
    </button>
  </form>
  <!-- ProcessingStatus -->
  <div id="Progress" hidden>
    <div class="ui ordered steps">
      <div id="Step0" class="active step">
        <i class="book icon"></i>
        <div class="content">
          <div class="title">Reading XLSX file</div>
          <div class="description">Uploading and reading..</div>
          <div id="Step0Bar" class="ui progress" data-percent="0">
            <div class="bar" style="transition-duration: 300ms; width: 0%;">
              <div id="Step0Progress" class="progress">0%</div>
            </div>
            <div class="label">Uploading Files</div>
          </div>
        </div>
      </div>
      <div id="Step1" class="step">
        <i class="question circle icon"></i>
        <div class="content">
          <div class="title">Checking Where-Used</div>
          <div class="description">Using bdl.vsl.com.au</div>
          <div id="Step1Bar" class="ui progress" data-percent="0">
            <div class="bar" style="transition-duration: 250ms; width: 0%;">
              <div id="Step1Progress" class="progress"></div>
            </div>
            <div class="label"></div>
          </div>
        </div>
      </div>
      <div id="Step2" class="step">
        <i class="child icon"></i>
        <div class="content">
          <div class="title">SAP BOM Lookup</div>
          <div class="description">For each .000 file</div>
          <div id="Step2Bar" class="ui progress" data-percent="0">
            <div class="bar" style="transition-duration: 200ms; width: 0%;">
              <div id="Step2Progress" class="progress"></div>
            </div>
            <div class="label"></div>
          </div>
        </div>
      </div>
      <div id="Step3" class="step">
        <i class="american sign language interpreting icon"></i>
        <div class="content">
          <div class="title">Generating Graphs</div>
          <div class="description">Collating the data</div>
          <div id="Step3Bar" class="ui progress" data-percent="0">
            <div class="bar" style="transition-duration: 200ms; width: 0%;">
              <div id="Step3Progress" class="progress"></div>
            </div>
          <div class="label"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Show the results -->
  <div id="Tabs" hidden>
    <!-- Setup the tabs at the top -->
    <div class="ui five item stackable tabs menu">
    </div>
    <!-- Overview Tab
    <div class="ui tab" data-tab="Tab2" style>
    </div>
     -->
  </div>


  <script>
    /*=====================================================================================
      Demo Code: While debugging I need to change the filename each time I refresh the page,
                 so I can 'process' new files, otherwise it just keeps coming back as
                 'everything is complete'
    =====================================================================================*/
    var dt = new Date();
    var defaultFilename = 'MDCR_' + dt.getHours() + '_' + dt.getMinutes() + '_' + dt.getSeconds() + '.xlsx'
    $('#filenameInput').val(defaultFilename)
    /*=====================================================================================
      ** Set Status Bar:
           This code will update the progress bars
           Needs elements with IDs:
            - Step{n}, e.g. Step0                  | 
            - Step{n}Bar, e.g. Step0Bar            | 
            - Class bar                            | 
            - Step{n}Progress, e.g. Step0Progress  | 
    =====================================================================================*/
    var setBarStatus = function(stepNo, stepProgress, active) {
      stepNoString = '#Step'+stepNo;
      $(stepNoString+'Bar').attr('data-percent', stepProgress);
      $(stepNoString+' .bar').css('width', stepProgress+'%');
      $(stepNoString+"Progress").html(stepProgress+"%");
      if( stepProgress == 100 ){
        $(stepNoString + 'Bar').addClass('success');
      }
      if( active ) {
        $(stepNoString).addClass('active')
      } else {
        $(stepNoString).removeClass('active');
      }
    }
    /*=====================================================================================
      ** Fetch the Processing Status from the server:
    =====================================================================================*/
    var fetchStatus = function(filename) {
      var stepNo = 3
      var stepProgress = 100
      $.post("/GetProcess/" + filename
      ).done(function(msg) {
        stepNo = msg['step'];
        stepProgress = msg['stepProgress'];
        var status = msg['status'];
        if(stepNo > 0) {
          setBarStatus(stepNo-1, 100, false);
        }
        setBarStatus(stepNo, stepProgress, true);
      }).fail(function() {
        console.log('error fetching processing status :(');
      }).always(function(msg) {
        // Schedule the next request even after error
        if( (stepNo != 3) || (stepProgress != 100)) {
          setTimeout(function() {fetchStatus(filename)}, 300);
        }
      });
    }
    /*=====================================================================================
      ** addTab
    =====================================================================================*/
    var addTab = function(tabName) {
      // Update the menu
      var existingMenu = $('.tabs')[0].innerHTML
      var newMenu = existingMenu + "\n"
        + "<a class=\"item\" data-tab=\"" + tabName + "\">\n"
        + "  " + tabName + "\n"
        + "</a>"
        $('.tabs')[0].innerHTML = newMenu
      // Append the tab
      var existingTabs = $('#Tabs')[0].innerHTML
      var newTab = existingTabs + "\n"
      + "<div class=\"ui tab\" data-tab=\"" + tabName + "\" style>\n"
      + "  <div id=\"contents\">\n"
      + "   <p>Hello!" + tabName + "</p>\n"
      + "    <div id=\"Network" + tabName + "\" style=\"width: 100%; height: 100%\">"
      + "      <div class=\"vis-network\" style=\"position: relative; overflow: hidden; touch-action: pan-y; user-select: none; width: 100%; height: 100%;\" tabindex=\"0\">\n"
      + "        <canvas style=\"position: relative; touch-action: none; user-select: none; width: 100%; height: 100%;\" width=\"883\" height=\"487\">\n"
      + "        </canvas>\n"
      + "      </div>\n"
      + "    </div>\n"
      + "  </div>\n"
      + "</div>\n"
      $('#Tabs')[0].innerHTML = newTab
      $.tab()
      $('.tabs.menu .item').tab();
    }
    /*=====================================================================================
      ** Create a Graph Function
    =====================================================================================*/
    var createGraph = function(container, rawData) {
      var options = {
        physics: {
          enabled: true,
          stabilization: false,
          barnesHut: {
            springLength: 400,
            avoidOverlap: 0.5,
          },
        },
      };
      var network = new vis.Network(container, rawData, options);
      console.log('dot: '+rawData)
      var dotData = vis.parseDOTNetwork(rawData);
      network.setData(dotData);
      container.height = ($("body").height() - 100);
    };
    $(document).ready(function(){
      /*===================================================================================
        ** Click 'Start Processing' button
      ===================================================================================*/
      $("#StartProcessing").click(function(){
        event.preventDefault();
        var filenameInput = $('#filenameInput').val();
        $.post("/StartProcessing", {'filename': filenameInput}, function(result){
          // Received Result!
          var noTabs = 0;
          for( var key in result ) {
            noTabs += 1;
            addTab(key)
            var dot = result[key];
            var container = $('#contents:last div')[0]
            console.log("Creating graph for " + key)
            createGraph(container, dot)
          }
          console.log($('.menu.tabs .item:first'))
          $('.menu.tabs .item:first').addClass('active');
          $('.ui.tab:first').addClass('active');
          // Transition from 'Reading XLSX file...' > 'Graphs'
          $('#Progress').fadeOut(200, function() {
            $('#Tabs').delay(200).fadeIn(300);
            resize()
          });
        });
        // Transition from 'Start Processing' > 'Reading XLSX file...'
        $('form').fadeOut(200, function() {
          $('#Progress').delay(200).fadeIn(300);
        });
        // Start checking the status of the processing / updating the graphs
        fetchStatus(filenameInput);
      });
      /*===================================================================================
        ** Changing Tabs & resizing
      ===================================================================================*/
      $(window).resize(resize);
      function resize() {
        $("#contents").height($("body").height()- 180);
      }
    });
  </script>
  <script src="https://visjs.github.io/vis-network/standalone/umd/vis-network.min.js"></script>
{% endblock %}